.container {
  display: flex;
  flex-direction: column;
}

.container-text {
  flex: 1;
  padding-top: 20px;
  padding-left: 10px;
}

@media only screen and (max-width: 500px) {
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1590px) {
  .description {
    margin-bottom: 10px; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}